<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @schedule.property %>
</p>

<p>
  <strong>Proj:</strong>
  <%= @schedule.proj_id %>
</p>

<p>
  <strong>Equity:</strong>
  <%= @schedule.equity %>
</p>

<p>
  <strong>Distributing:</strong>
  <%= @schedule.distributing %>
</p>

<p>
  <strong>January:</strong>
  <%= @schedule.January %>
</p>

<p>
  <strong>February:</strong>
  <%= @schedule.February %>
</p>

<p>
  <strong>March:</strong>
  <%= @schedule.March %>
</p>

<p>
  <strong>April:</strong>
  <%= @schedule.April %>
</p>

<p>
  <strong>May:</strong>
  <%= @schedule.May %>
</p>

<p>
  <strong>June:</strong>
  <%= @schedule.June %>
</p>

<p>
  <strong>July:</strong>
  <%= @schedule.July %>
</p>

<p>
  <strong>August:</strong>
  <%= @schedule.August %>
</p>

<p>
  <strong>September:</strong>
  <%= @schedule.September %>
</p>

<p>
  <strong>October:</strong>
  <%= @schedule.October %>
</p>

<p>
  <strong>November:</strong>
  <%= @schedule.November %>
</p>

<p>
  <strong>December:</strong>
  <%= @schedule.December %>
</p>

<p>
  <strong>DistSum:</strong>
  <%= @schedule.DistSum%>
</p>

<p>
  <strong>ROI:</strong>
  <%= @schedule.ROI %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
